<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
	<nav class="navbar navbar-expand">
		<a href="/" class="navbar-brand">Home</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown"><a href="#"
					class="nav-link dropdown-toggle active" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Project</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="#" class="dropdown-item">Information</a>
						 <a href="/game/posegame" class="dropdown-item">Pose Game</a>
						  <a href="/game/quizgame" class="dropdown-item">Quiz Game</a>
					</div></li>
				<a href="/quiz/quizmain" class="nav-item active nav-link">Quiz</a>
				<a href="/quiz/score" class="nav-item active nav-link">Quiz Rank</a>
				<a href="/board/boardList" class="nav item active nav-link">Notice</a>
				<a href="/user/userList" class="nav item active nav-link">Admin</a>
			</ul>

			<form class="d-flex">

				<button class="btn btn-outline-primary" type="button">
					<a th:href="@{/login/login}">로그인</a>
				</button>
				&nbsp;
				<button class="btn btn-outline-primary" type="button">
					<a th:href="@{/login/logout}">로그아웃</a>
				</button>
				&nbsp;
				<button class="btn btn-outline-primary" type="button">
					<a href="/user/userMake">회원가입</a>
				</button>
			</form>
		</div>
	</nav>
</header>
</html>

<!-- 	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">HOME</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<div class="dropdown">
						<button class="dropbtn">
							Project <i class="fa fa-caret-down"></i>
						</button>
						<div class="dropdown-content">
							<a href="#"></a>
							<a href="#">Pose Game</a> 
							<a href="#">Quiz
								Game</a>
						</div>
					</div>

			<li class="nav-item"><a class="nav-link" href="/user/userList">Project</a>


			</li>
			<li class="nav-item"><a class="nav-link" href="/quiz/quizmain">Quiz</a></li>
			<li class="nav-item"><a class="nav-link" href="/quiz/score">Quiz
					Rank</a></li>
			<li class="nav-item"><a class="nav-link" aria-current="page"
				href="/board/boardList">Notice</a></li>
			<li class="nav-item"><a class="nav-link" href="/user/userList">Admin</a></li>
			</ul>
			
		</div>
		</div>
	</nav> -->